@charset "utf-8";
body{
    background-color: black;
    overflow: hidden;
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
}
  
header{
    width:100%;
    text-align: center;
}
h1{
    color: #ffffff;
    display:inline-block;
    padding-right:10px;
    border-right:1px solid #ffffff;
}
h2{
    color:#ffffff;
    display:inline-block;
    padding-left: 10px;
}
#field{
    position:relative;
    width:100vw;
    height:100vh;
}
.clickPoint{
    width:3vw;
    height: 3vw;
    position:absolute;
    border:1px solid #ffffff;
    border-radius: 50%;
    animation: bigger 4s ease-in-out infinite;
}

@keyframes bigger{
    to{
        transform:scale(10);
        opacity:0;
    }
}