@charset "utf-8";
header{
    width: 100vw;
    text-align: center;
}
main{
    width: 100vw;
}
.mainContents > p{
    text-align: center;
}
.slider{
    width: 100px;
    margin:0 auto;
}

#sliderBox{
    width:calc(100px*5);
    display:flex;
    list-style: none;
    padding:0;
    margin:0 0 0 -100px;
    transition:margin-left 2s;
}

#sliderBox > li{
    width:100px;
    height:100px;
    background-color: #777777;
    border:3px solid #000000;
    font-size:24px;
}

.arrowIcons{
    margin:0 auto;
    width:200px;
    display:flex;
    justify-content: space-around;
}

.leftArrow:hover{
    cursor: pointer;
}
.rightArrow:hover{
    cursor: pointer;
}

.pointerList{
    display:flex;
    justify-content: space-between;
    width:100px;
    list-style: none;
    align-items: center;
    padding:0;
    margin:0 10px 0 10px;
}

.pointerList > li{
    width:10px;
    height:10px;
    border-radius: 50%;
    border:1px solid #000000;
    background-color:#cccccc;
    
}

.pointerList > li:hover{
    background-color:#777777;
}